<%= form_with model: project, class: "space-y-6", url: project.persisted? ? project_url(project) : projects_url do |form| %>
  <%= render "shared/form_errors", object: project %>

  <div class="space-y-2">
    <%= form.label :name, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
    <%= form.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-xs focus:border-indigo-500 focus:ring-indigo-500" %>
  </div>

  <div class="space-y-2">
    <%= form.label :year, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
    <%= form.number_field :year, class: "mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-xs focus:border-indigo-500 focus:ring-indigo-500" %>
  </div>

  <div class="space-y-2">
    <%= form.label :github_url, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
    <%= form.text_field :github_url, class: "mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-xs focus:border-indigo-500 focus:ring-indigo-500" %>
  </div>

  <div class="space-y-2">
    <%= form.label :license, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
    <%= form.text_field :license, class: "mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-xs focus:border-indigo-500 focus:ring-indigo-500" %>
  </div>

  <div class="space-y-2">
    <%= form.label :language, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
    <%= form.text_field :language, class: "mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-xs focus:border-indigo-500 focus:ring-indigo-500" %>
  </div>

  <div class="space-y-2">
    <%= form.label :description, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
    <%= form.text_area :description, rows: 3, class: "mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-xs focus:border-indigo-500 focus:ring-indigo-500" %>
  </div>

  <div>
    <%= form.submit class: "rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
<% end %>
